Repository zscaler/zscaler-mcp-server: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, zia-tools, zpa-tools, zcc-tools, zdx-tools, ztw-tools, zidentity-tools, zinsights-tools

fix: Added New Z-Insights Tools, Codecov, Updated README and DockerFile Image
  .markdownlintignore
  docs/guides/supported-tools.md
  zscaler_mcp/tools/zinsights/iot.py
Due: unittests, zinsights-tools

fix: Added New Z-Insights Tools, Codecov, Updated README and DockerFile Image
  tests/test_registry.py
  tests/zinsights/test_web_traffic_tools.py
Due: none

fix: Added New Z-Insights Tools, Codecov, Updated README and DockerFile Image
  tests/zinsights/test_web_traffic_tools.py
  zscaler_mcp/services.py
  zscaler_mcp/tools/zinsights/__init__.py
  zscaler_mcp/tools/zinsights/firewall.py
  zscaler_mcp/tools/zinsights/iot.py
  zscaler_mcp/tools/zinsights/saas_security.py
  zscaler_mcp/tools/zinsights/shadow_it.py
  zscaler_mcp/tools/zinsights/web_traffic.py
Due: unittests, zinsights-tools

fix: Added New Z-Insights Tools, Codecov, Updated README and DockerFile Image
  codecov.yml
Due: none

fix: Added New Z-Insights Tools, Codecov, Updated README and DockerFile Image
  .github/workflows/tests.yml
  codecov.yml
Due: none

fix: Added New Z-Insights Tools, Codecov, Updated README and DockerFile Image (#22)
  .github/workflows/tests.yml
  .markdownlintignore
  CHANGELOG.md
  Dockerfile
  README.md
  codecov.yml
  docs/guides/supported-tools.md
  docsrc/api/services.rst
  docsrc/guides/examples.rst
  pyproject.toml
  tests/test_registry.py
  tests/zinsights/__init__.py
  tests/zinsights/test_web_traffic_tools.py
  uv.lock
  zscaler_mcp/services.py
  zscaler_mcp/tools/zinsights/__init__.py
  zscaler_mcp/tools/zinsights/common.py
  zscaler_mcp/tools/zinsights/cyber_security.py
  zscaler_mcp/tools/zinsights/firewall.py
  zscaler_mcp/tools/zinsights/iot.py
  zscaler_mcp/tools/zinsights/saas_security.py
  zscaler_mcp/tools/zinsights/shadow_it.py
  zscaler_mcp/tools/zinsights/web_traffic.py
Due: unittests, zinsights-tools

chore(release): 0.6.1
  zscaler_mcp/__init__.py
Due: none

Notes added by 'git notes add'
  4a6a3faebce05cfa4fcd6128b094901a5b6a3ba4
Due: none

fix: Added New ZIA tools, Extension Fixes, documentation updates
  CHANGELOG.md
  README.md
  docs/guides/TROUBLESHOOTING.md
  pyproject.toml
  uv.lock
  zscaler_mcp/services.py
  zscaler_mcp/tools/zia/cloud_app_control.py
  zscaler_mcp/tools/zia/url_categories.py
Due: unittests, zia-tools

fix: Added New ZIA tools, Extension Fixes, documentation updates
  docs/guides/TROUBLESHOOTING.md
Due: none

fix: Fixed linter via ruff
  zscaler_mcp/services.py
Due: unittests

Notes added by 'git notes add'
  3cd4c385520513511194ef99e401c14e35d3bdab
Due: none

chore: add MCPB packaging files for cross-platform Claude Desktop bundle
  .mcpbignore
  icon.png
  manifest.json
Due: none

fix: correct 3 env var names in manifest to match v0.6.2 server code
  manifest.json
Due: none

fix: resolve ZCC legacy credential loading bugs
  zscaler_mcp/client.py
Due: unittests

fix: Fixed ruff lint and markdwonlint warnings, and tests
  docs/deployment/authentication-and-deployment.md
  docs/guides/TROUBLESHOOTING.md
  tests/test_auth.py
  tests/test_elicitation.py
  tests/test_security.py
  zscaler_mcp/services.py
  zscaler_mcp/tools/zdx/deeptrace_analysis.py
  zscaler_mcp/tools/zdx/list_deep_traces.py
Due: unittests, zdx-tools

feat: add OIDCProxy (OAuth 2.1 + DCR) authentication method
  CHANGELOG.md
  CLAUDE.md
  GEMINI.md
  README.md
  docs/deployment/authentication-and-deployment.md
  docsrc/guides/configuration.rst
  tests/test_security.py
  tests/test_server.py
  zscaler_mcp/auth.py
  zscaler_mcp/server.py
Due: unittests

feat: Added --disabled-tools and --disabled-services flag to allow tool and service exclusion
  README.md
  docs/deployment/authentication-and-deployment.md
  docsrc/guides/configuration.rst
  tests/test_server.py
  tests/test_tool_helpers.py
  zscaler_mcp/common/tool_helpers.py
  zscaler_mcp/server.py
  zscaler_mcp/services.py
Due: unittests

chore: Removed preview banner from README
  README.md
Due: none

chore(release): 0.7.0
  zscaler_mcp/__init__.py
Due: none

Notes added by 'git notes add'
  53ccb722c89a595699333a5907160f4fab07faea
Due: none

feat: add network security, platform integrations, Docker Hub CI, and fix ZCC legacy credential bugs
  CHANGELOG.md
Due: none

feat: add network security, platform integrations, Docker Hub CI, and fix ZCC legacy credential bugs (#36)
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  4169d80763bef5c6247158206393d802d8cf0d17
Due: none

fix: use uv build instead of python -m build for PyPI publishing
  .releaserc.json
Due: none

feat: use uv build instead of python -m build for PyPI publishing
  CHANGELOG.md
Due: none

feat: use uv build instead of python -m build for PyPI publishing (#37)
  .releaserc.json
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  6cbab1556a4bce83a1891de88e7f55f776424fe3
Due: none

Add files via upload
  docs/media/zscaler_logo1.svg
Due: none

fix: Fixed disable-tools and disable-services flag, and zcc tools
  CHANGELOG.md
  CLAUDE.md
  README.md
  docs/deployment/authentication-and-deployment.md
  docs/guides/release-notes.md
  docsrc/guides/release-notes.rst
  zscaler_mcp/server.py
  zscaler_mcp/services.py
Due: unittests

fix: Fixed disable-tools and disable-services flag, and zcc tools
  CHANGELOG.md
  docs/guides/release-notes.md
  docsrc/guides/release-notes.rst
Due: none

chore: Fixed lint and markdown issues
  README.md
  tests/test_server.py
  zscaler_mcp/server.py
Due: unittests

chore: Fixed lint and markdown issues
  tests/test_server.py
Due: none

fix: Fixed disable-tools and disable-services flag, and zcc tools (#38)
  CHANGELOG.md
  CLAUDE.md
  README.md
  docs/deployment/authentication-and-deployment.md
  docs/guides/release-notes.md
  docsrc/guides/release-notes.rst
  tests/test_server.py
  zscaler_mcp/server.py
  zscaler_mcp/services.py
Due: unittests

Path conditions:
  unittests: any of: zscaler_mcp/, but not: tests/**/*, local_dev/**/*, examples/**/*, docsrc/**/*, docs/**/*, **/__init__.py, **/conftest.py
  zia-tools: any of: zscaler_mcp/tools/zia/, but not: tests/**/*, local_dev/**/*, examples/**/*, docsrc/**/*, docs/**/*, **/__init__.py, **/conftest.py
  zpa-tools: any of: zscaler_mcp/tools/zpa/, but not: tests/**/*, local_dev/**/*, examples/**/*, docsrc/**/*, docs/**/*, **/__init__.py, **/conftest.py
  zcc-tools: any of: zscaler_mcp/tools/zcc/, but not: tests/**/*, local_dev/**/*, examples/**/*, docsrc/**/*, docs/**/*, **/__init__.py, **/conftest.py
  zdx-tools: any of: zscaler_mcp/tools/zdx/, but not: tests/**/*, local_dev/**/*, examples/**/*, docsrc/**/*, docs/**/*, **/__init__.py, **/conftest.py
  ztw-tools: any of: zscaler_mcp/tools/ztw/, but not: tests/**/*, local_dev/**/*, examples/**/*, docsrc/**/*, docs/**/*, **/__init__.py, **/conftest.py
  zidentity-tools: any of: zscaler_mcp/tools/zidentity/, but not: tests/**/*, local_dev/**/*, examples/**/*, docsrc/**/*, docs/**/*, **/__init__.py, **/conftest.py
  zinsights-tools: any of: zscaler_mcp/tools/zinsights/, but not: tests/**/*, local_dev/**/*, examples/**/*, docsrc/**/*, docs/**/*, **/__init__.py, **/conftest.py
