Repository zscaler/zscaler-mcp-server: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, zia-tools, zpa-tools, zcc-tools, zdx-tools, ztw-tools, zidentity-tools, zinsights-tools, zeasm-tools, core, ZIA (Zscaler Internet Access), ZPA (Zscaler Private Access), ZCC (Zscaler Client Connector), ZDX (Zscaler Digital Experience), ZTW (Zscaler Workload Segmentation), ZIdentity (Identity Management), Z-Insights (Analytics), ZEASM (External Attack Surface Management), Core Server & Services

chore(release): 0.12.0
  .claude-plugin/marketplace.json
  .claude-plugin/plugin.json
  .cursor-plugin/plugin.json
  .mcp.json
  gemini-extension.json
  pyproject.toml
  server.json
  zscaler_mcp/__init__.py
Due: none

Notes added by 'git notes add'
  25eccadd1d476bb90cb415c468197ec0a802c8fa
Due: none

fix: Updated Azure and GCP integration documentation. Included links to demo videos
  CHANGELOG.md
  assets/azure_complete.png
  assets/azure_container_aks.png
  assets/azure_container_apps.png
  assets/azure_container_foundry.png
  assets/azure_container_vms.png
  assets/gcp_adk.png
  assets/gcp_cloud_run.png
  assets/gcp_complete.png
  assets/gcp_gke.png
  docsrc/guides/release-notes.rst
  integrations/aws/.env.bak
  integrations/aws/README.md
  integrations/aws/aws_mcp_operations.py
  integrations/aws/cloudformation/gateway.yaml
  integrations/aws/cloudformation/iam.yaml
  integrations/aws/cloudformation/lambda/gateway_provisioner.py
  integrations/aws/cloudformation/lambda/runtime_provisioner.py
  integrations/aws/cloudformation/runtime.yaml
  integrations/aws/cloudformation/secrets.yaml
  integrations/aws/cloudformation/zscaler-mcp-root.yaml
  integrations/aws/env.properties
  integrations/azure/README.md
  integrations/google/README.md
  integrations/google/adk/README.md
Due: none

fix: Fixed User Agent automated versioning setup
  CHANGELOG.md
  uv.lock
  zscaler_mcp/utils/utils.py
Due: unittests

fix: Fixed Integrations sphinx document
  docsrc/integrations/index.rst
Due: none

fix: Updated Azure and GCP integration documentation. Included links to demo videos (#66)
  CHANGELOG.md
  assets/azure_complete.png
  assets/azure_container_aks.png
  assets/azure_container_apps.png
  assets/azure_container_foundry.png
  assets/azure_container_vms.png
  assets/gcp_adk.png
  assets/gcp_cloud_run.png
  assets/gcp_complete.png
  assets/gcp_gke.png
  docsrc/guides/release-notes.rst
  docsrc/integrations/index.rst
  integrations/aws/.env.bak
  integrations/aws/README.md
  integrations/aws/aws_mcp_operations.py
  integrations/aws/cloudformation/gateway.yaml
  integrations/aws/cloudformation/iam.yaml
  integrations/aws/cloudformation/lambda/gateway_provisioner.py
  integrations/aws/cloudformation/lambda/runtime_provisioner.py
  integrations/aws/cloudformation/runtime.yaml
  integrations/aws/cloudformation/secrets.yaml
  integrations/aws/cloudformation/zscaler-mcp-root.yaml
  integrations/aws/env.properties
  integrations/azure/README.md
  integrations/google/README.md
  integrations/google/adk/README.md
  uv.lock
  zscaler_mcp/utils/utils.py
Due: unittests

chore(release): 0.12.1
  .claude-plugin/marketplace.json
  .claude-plugin/plugin.json
  .cursor-plugin/plugin.json
  .mcp.json
  gemini-extension.json
  pyproject.toml
  server.json
  zscaler_mcp/__init__.py
Due: none

Notes added by 'git notes add'
  246430c8d2d99726ad6cdcb00d1adc4e316cb966
Due: none

fix: interactive architecture prompt, colored output, and stack-wait spinner
  CHANGELOG.md
  docs/deployment/amazon_bedrock_agentcore.md
  docs/guides/release-notes.md
  integrations/aws/aws_mcp_operations.py
  uv.lock
Due: none

fix: interactive architecture prompt, colored output, and stack-wait spinner (#67)
  CHANGELOG.md
  docs/deployment/amazon_bedrock_agentcore.md
  docs/guides/release-notes.md
  integrations/aws/aws_mcp_operations.py
  uv.lock
Due: none

chore(release): 0.12.2
  .claude-plugin/marketplace.json
  .claude-plugin/plugin.json
  .cursor-plugin/plugin.json
  .mcp.json
  gemini-extension.json
  pyproject.toml
  server.json
  zscaler_mcp/__init__.py
Due: none

Notes added by 'git notes add'
  9c795fbf328210a59837dc70cefb77a90c79bd8d
Due: none

Delete integrations/aws/.env.bak
  integrations/aws/.env.bak
Due: none

feat: Built Interactive Prototype for the MCP UI Server implementation
  CLAUDE.md
  README.md
  docs/guides/supported-tools.md
  docs/guides/toolsets.md
  pyproject.toml
  skills/zia/create-cloud-app-control-rule/SKILL.md
  uv.lock
  zscaler_mcp/common/tool_helpers.py
  zscaler_mcp/services.py
  zscaler_mcp/tools/zia/cloud_app_control.py
  zscaler_mcp/tools/zpa/segment_group_wizard.py
  zscaler_mcp/tools/zpa/wizards/__init__.py
  zscaler_mcp/tools/zpa/wizards/segment_group.html
Due: unittests, zia-tools, zpa-tools, core, ZIA (Zscaler Internet Access), ZPA (Zscaler Private Access), Core Server & Services

docs(aws): mirror Strands client + ZPA pagination fix (PR #47)
  docs/deployment/strands-agentcore-client.md
  docsrc/integrations/index.rst
  integrations/aws/.gitignore
  integrations/aws/requirements.txt
  integrations/aws/strands_agent_chat.py
  zscaler_mcp/tools/zpa/app_connector_groups.py
  zscaler_mcp/tools/zpa/app_connectors.py
  zscaler_mcp/tools/zpa/app_segments.py
  zscaler_mcp/tools/zpa/app_segments_ba.py
  zscaler_mcp/tools/zpa/app_segments_pra.py
  zscaler_mcp/tools/zpa/lss.py
  zscaler_mcp/tools/zpa/segment_groups.py
  zscaler_mcp/tools/zpa/server_groups.py
  zscaler_mcp/tools/zpa/service_edges.py
Due: unittests, zpa-tools, ZPA (Zscaler Private Access)

fix: Fixed Linter Errors
  integrations/aws/harness/harness_mcp_operations.py
  zscaler_mcp/common/docgen.py
Due: unittests, Core Server & Services

fix: Fixed docs-site.yml workflow
  .github/workflows/docs-site.yml
Due: none

chore(release): 0.12.3
  .claude-plugin/marketplace.json
  .claude-plugin/plugin.json
  .cursor-plugin/plugin.json
  .mcp.json
  gemini-extension.json
  manifest.json
  pyproject.toml
  server.json
  zscaler_mcp/__init__.py
Due: none

Notes added by 'git notes add'
  8409e1661b7f7171bfbb9297e1ecfc61c28b6d92
Due: none

feat: MCP 2026-07-28 RC prototypes (P3/P4/P5) + --disabled-toolsets (P6)
  CLAUDE.md
  docs/guides/toolsets.md
  tests/test_cache_metadata.py
  tests/test_elicitation_native.py
  tests/test_server.py
  tests/test_streamable_http_transport.py
  tests/test_toolsets.py
  tests/test_trace_context.py
  tests/test_transport_hardening.py
  uv.lock
  zscaler_mcp/auth.py
  zscaler_mcp/client.py
  zscaler_mcp/common/cache_metadata.py
  zscaler_mcp/common/elicitation.py
  zscaler_mcp/common/elicitation_native.py
  zscaler_mcp/common/tool_helpers.py
  zscaler_mcp/common/trace_context.py
  zscaler_mcp/server.py
Due: unittests, core, Core Server & Services

fix: Updated Documentation Portal
  integrations/helm-chart/README.md
  zscaler_mcp/common/docgen.py
  zscaler_mcp/common/mcpb.py
Due: unittests, Core Server & Services

fix: Updated Documentation Portal
  .github/set-version.sh
  .github/workflows/tests.yml
  .releaserc.json
  Makefile
  docsrc/conf.py
  docsrc/requirements.in
  docsrc/requirements.txt
Due: none

fix: Updated Documentation Portal
  uv.lock
Due: none

fix: Updated Documentation Portal
  Makefile
  docsrc/requirements.txt
Due: none

chore(release): 0.12.4
  .claude-plugin/marketplace.json
  .claude-plugin/plugin.json
  .cursor-plugin/plugin.json
  .mcp.json
  docsrc/conf.py
  gemini-extension.json
  manifest.json
  pyproject.toml
  server.json
  zscaler_mcp/__init__.py
Due: none

Notes added by 'git notes add'
  abbf9123ce40e470961489a43297b2ea211a7962
Due: none

chore: scrub AWS account ID and harden ignore rules
  .dockerignore
  .gitignore
  integrations/aws/harness/README.md
  requirements.txt
Due: none

fix: automate signed cross-platform MCPB bundle releases
  .github/workflows/mcpb-build.yml
  .gitignore
  .mcpbignore
  .releaserc.json
  CHANGELOG.md
  CLAUDE.md
  Makefile
  docsrc/guides/release-notes.rst
  integrations/anthropic/manifest.json
  scripts/build_mcpb.py
  tests/test_mcpb.py
  zscaler_mcp/common/docgen.py
  zscaler_mcp/common/mcpb.py
Due: unittests, Core Server & Services

test: validate MCPB bundle on PRs before release
  .github/workflows/mcpb-build-test.yml
Due: none

ci: zero-touch auto-regenerate docs/manifest on PRs
  .github/workflows/docs-autogen.yml
Due: none

ci: merge docs auto-regen into the MCPB validation workflow
  .github/workflows/docs-autogen.yml
  .github/workflows/mcpb-build-test.yml
Due: none

docs: update changelog PR link to #77
  CHANGELOG.md
  docsrc/guides/release-notes.rst
  integrations/google/gcp/gcp_mcp_operations.py
  uv.lock
Due: none

fix: automate signed cross-platform MCPB bundle releases (#77)
  .github/workflows/mcpb-build-test.yml
  .github/workflows/mcpb-build.yml
  .gitignore
  .mcpbignore
  .releaserc.json
  CHANGELOG.md
  CLAUDE.md
  Makefile
  docsrc/guides/release-notes.rst
  integrations/anthropic/manifest.json
  integrations/google/gcp/gcp_mcp_operations.py
  scripts/build_mcpb.py
  tests/test_mcpb.py
  uv.lock
  zscaler_mcp/common/docgen.py
  zscaler_mcp/common/mcpb.py
Due: unittests, Core Server & Services

Path conditions:
  unittests: any of: zscaler_mcp/, but not: tests/**/*, local_dev/**/*, examples/**/*, docsrc/**/*, docs/**/*, integrations/**/*, **/__init__.py, **/conftest.py
  zia-tools: any of: zscaler_mcp/tools/zia/, but not: tests/**/*, local_dev/**/*, examples/**/*, docsrc/**/*, docs/**/*, integrations/**/*, **/__init__.py, **/conftest.py
  zpa-tools: any of: zscaler_mcp/tools/zpa/, but not: tests/**/*, local_dev/**/*, examples/**/*, docsrc/**/*, docs/**/*, integrations/**/*, **/__init__.py, **/conftest.py
  zcc-tools: any of: zscaler_mcp/tools/zcc/, but not: tests/**/*, local_dev/**/*, examples/**/*, docsrc/**/*, docs/**/*, integrations/**/*, **/__init__.py, **/conftest.py
  zdx-tools: any of: zscaler_mcp/tools/zdx/, but not: tests/**/*, local_dev/**/*, examples/**/*, docsrc/**/*, docs/**/*, integrations/**/*, **/__init__.py, **/conftest.py
  ztw-tools: any of: zscaler_mcp/tools/ztw/, but not: tests/**/*, local_dev/**/*, examples/**/*, docsrc/**/*, docs/**/*, integrations/**/*, **/__init__.py, **/conftest.py
  zidentity-tools: any of: zscaler_mcp/tools/zidentity/, but not: tests/**/*, local_dev/**/*, examples/**/*, docsrc/**/*, docs/**/*, integrations/**/*, **/__init__.py, **/conftest.py
  zinsights-tools: any of: zscaler_mcp/tools/zinsights/, but not: tests/**/*, local_dev/**/*, examples/**/*, docsrc/**/*, docs/**/*, integrations/**/*, **/__init__.py, **/conftest.py
  zeasm-tools: any of: zscaler_mcp/tools/easm/, but not: tests/**/*, local_dev/**/*, examples/**/*, docsrc/**/*, docs/**/*, integrations/**/*, **/__init__.py, **/conftest.py
  core: any of: zscaler_mcp/server.py, zscaler_mcp/client.py, zscaler_mcp/services.py, but not: tests/**/*, local_dev/**/*, examples/**/*, docsrc/**/*, docs/**/*, integrations/**/*, **/__init__.py, **/conftest.py
  ZIA (Zscaler Internet Access): any of: zscaler_mcp/tools/zia/**, but not: tests/**/*, local_dev/**/*, examples/**/*, docsrc/**/*, docs/**/*, integrations/**/*, **/__init__.py, **/conftest.py
  ZPA (Zscaler Private Access): any of: zscaler_mcp/tools/zpa/**, but not: tests/**/*, local_dev/**/*, examples/**/*, docsrc/**/*, docs/**/*, integrations/**/*, **/__init__.py, **/conftest.py
  ZCC (Zscaler Client Connector): any of: zscaler_mcp/tools/zcc/**, but not: tests/**/*, local_dev/**/*, examples/**/*, docsrc/**/*, docs/**/*, integrations/**/*, **/__init__.py, **/conftest.py
  ZDX (Zscaler Digital Experience): any of: zscaler_mcp/tools/zdx/**, but not: tests/**/*, local_dev/**/*, examples/**/*, docsrc/**/*, docs/**/*, integrations/**/*, **/__init__.py, **/conftest.py
  ZTW (Zscaler Workload Segmentation): any of: zscaler_mcp/tools/ztw/**, but not: tests/**/*, local_dev/**/*, examples/**/*, docsrc/**/*, docs/**/*, integrations/**/*, **/__init__.py, **/conftest.py
  ZIdentity (Identity Management): any of: zscaler_mcp/tools/zidentity/**, but not: tests/**/*, local_dev/**/*, examples/**/*, docsrc/**/*, docs/**/*, integrations/**/*, **/__init__.py, **/conftest.py
  Z-Insights (Analytics): any of: zscaler_mcp/tools/zinsights/**, but not: tests/**/*, local_dev/**/*, examples/**/*, docsrc/**/*, docs/**/*, integrations/**/*, **/__init__.py, **/conftest.py
  ZEASM (External Attack Surface Management): any of: zscaler_mcp/tools/easm/**, but not: tests/**/*, local_dev/**/*, examples/**/*, docsrc/**/*, docs/**/*, integrations/**/*, **/__init__.py, **/conftest.py
  Core Server & Services: any of: zscaler_mcp/server.py, zscaler_mcp/client.py, zscaler_mcp/services.py, zscaler_mcp/common/**, but not: tests/**/*, local_dev/**/*, examples/**/*, docsrc/**/*, docs/**/*, integrations/**/*, **/__init__.py, **/conftest.py
