Repository zscaler/zscaler-mcp-server: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, zia-tools, zpa-tools, zcc-tools, zdx-tools, ztw-tools, zidentity-tools, zinsights-tools, zeasm-tools, core, ZIA (Zscaler Internet Access), ZPA (Zscaler Private Access), ZCC (Zscaler Client Connector), ZDX (Zscaler Digital Experience), ZTW (Zscaler Workload Segmentation), ZIdentity (Identity Management), Z-Insights (Analytics), ZEASM (External Attack Surface Management), Core Server & Services

fix: Update to zscaler-sdk-python v1.9.21
  docsrc/_build/.doctrees/environment.pickle
  docsrc/_build/.doctrees/guides/release-notes.doctree
  docsrc/_build/.doctrees/integrations/index.doctree
  docsrc/_build/_sources/guides/release-notes.rst.txt
  docsrc/_build/_sources/integrations/index.rst.txt
  docsrc/_build/guides/release-notes.html
  docsrc/_build/integrations/index.html
  docsrc/_build/objects.inv
  docsrc/_build/searchindex.js
Due: none

fix: Update to zscaler-sdk-python v1.9.21 (#49)
  CHANGELOG.md
  docsrc/_build/.doctrees/environment.pickle
  docsrc/_build/.doctrees/guides/release-notes.doctree
  docsrc/_build/.doctrees/integrations/index.doctree
  docsrc/_build/_sources/guides/release-notes.rst.txt
  docsrc/_build/_sources/integrations/index.rst.txt
  docsrc/_build/guides/release-notes.html
  docsrc/_build/integrations/index.html
  docsrc/_build/objects.inv
  docsrc/_build/searchindex.js
  docsrc/guides/release-notes.rst
  uv.lock
Due: none

chore(release): 0.10.2
  .claude-plugin/marketplace.json
  .cursor-plugin/plugin.json
  gemini-extension.json
  pyproject.toml
  server.json
  zscaler_mcp/__init__.py
Due: none

Notes added by 'git notes add'
  23be2e4b8594ff5816fe3c5cec6fe9d296edba5d
Due: none

fix: skip clientless_app_ids in body when None to avoid BROWSER_ACCESS lookup
  tests/zpa/test_zpa_tools.py
  zscaler_mcp/tools/zpa/app_segments.py
Due: unittests, zpa-tools, ZPA (Zscaler Private Access)

fix: use truthiness guard for clientless_app_ids to also block empty lists
  tests/zpa/test_zpa_tools.py
  zscaler_mcp/tools/zpa/app_segments.py
Due: unittests, zpa-tools, ZPA (Zscaler Private Access)

fix: Updated Documentation and Azure integration scripts
  CHANGELOG.md
  docsrc/_build/.doctrees/environment.pickle
  docsrc/_build/.doctrees/guides/release-notes.doctree
  docsrc/_build/_sources/guides/release-notes.rst.txt
  docsrc/_build/guides/release-notes.html
  docsrc/_build/searchindex.js
  uv.lock
Due: none

chore(release): 0.10.3
  .claude-plugin/marketplace.json
  .cursor-plugin/plugin.json
  gemini-extension.json
  pyproject.toml
  server.json
  zscaler_mcp/__init__.py
Due: none

Notes added by 'git notes add'
  3b3d05b2c41c925cf067985c2534d3f043f4492f
Due: none

fix: align Claude Code marketplace artefacts with Anthropic feedback
  .claude-plugin/plugin.json
  .github/set-version.sh
  .mcp.json
  .releaserc.json
  CHANGELOG.md
  README.md
  docs/deployment/authentication-and-deployment.md
  docsrc/_build/.doctrees/environment.pickle
  docsrc/_build/.doctrees/guides/release-notes.doctree
  docsrc/_build/.doctrees/index.doctree
  docsrc/_build/_sources/guides/release-notes.rst.txt
  docsrc/_build/_sources/index.rst.txt
  docsrc/_build/guides/release-notes.html
  docsrc/_build/index.html
  docsrc/_build/searchindex.js
  docsrc/guides/release-notes.rst
  docsrc/index.rst
  integrations/azure/.aks-manifest.yaml
  integrations/claude-code-plugin/README.md
  uv.lock
Due: none

fix: align Claude Code marketplace artefacts with Anthropic feedback (#55)
  .claude-plugin/plugin.json
  .github/set-version.sh
  .mcp.json
  .releaserc.json
  CHANGELOG.md
  README.md
  docs/deployment/authentication-and-deployment.md
  docsrc/_build/.doctrees/environment.pickle
  docsrc/_build/.doctrees/guides/release-notes.doctree
  docsrc/_build/.doctrees/index.doctree
  docsrc/_build/_sources/guides/release-notes.rst.txt
  docsrc/_build/_sources/index.rst.txt
  docsrc/_build/guides/release-notes.html
  docsrc/_build/index.html
  docsrc/_build/searchindex.js
  docsrc/guides/release-notes.rst
  docsrc/index.rst
  integrations/azure/.aks-manifest.yaml
  integrations/claude-code-plugin/README.md
  uv.lock
Due: none

chore(release): 0.10.4
  .claude-plugin/marketplace.json
  .claude-plugin/plugin.json
  .cursor-plugin/plugin.json
  .mcp.json
  gemini-extension.json
  pyproject.toml
  server.json
  zscaler_mcp/__init__.py
Due: none

Notes added by 'git notes add'
  dce4039b18d182d2c9511e1d634da42bcac28e19
Due: none

Delete integrations/azure/.aks-manifest.yaml
  integrations/azure/.aks-manifest.yaml
Due: none

fix: add Cloud Firewall DNS/IPS, File Type Control, and Sandbox rule tools
  CHANGELOG.md
  CLAUDE.md
  GEMINI.md
  docs/guides/supported-tools.md
  docsrc/_build/.doctrees/api/tools.doctree
  docsrc/_build/.doctrees/environment.pickle
  docsrc/_build/.doctrees/guides/release-notes.doctree
  docsrc/_build/.doctrees/tools/zia/index.doctree
  docsrc/_build/_modules/zscaler_mcp/services.html
  docsrc/_build/_modules/zscaler_mcp/tools/zia/cloud_applications.html
  docsrc/_build/_sources/guides/release-notes.rst.txt
  docsrc/_build/_sources/tools/zia/index.rst.txt
  docsrc/_build/api/client.html
  docsrc/_build/api/index.html
  docsrc/_build/api/services.html
  docsrc/_build/api/tools.html
  docsrc/_build/genindex.html
  docsrc/_build/guides/release-notes.html
  docsrc/_build/objects.inv
  docsrc/_build/searchindex.js
  docsrc/_build/tools/index.html
  docsrc/_build/tools/zia/index.html
  docsrc/guides/release-notes.rst
  docsrc/tools/zia/index.rst
  integrations/kiro/steering/zia.md
  skills/zia/resolve-cloud-app-enum/SKILL.md
  tests/test_elicitation.py
  tests/test_jmespath_utils.py
  uv.lock
  zscaler_mcp/common/jmespath_utils.py
  zscaler_mcp/common/zia_cloud_app_resolver.py
  zscaler_mcp/services.py
  zscaler_mcp/tools/zia/cloud_app_control.py
  zscaler_mcp/tools/zia/cloud_applications.py
  zscaler_mcp/tools/zia/cloud_firewall_dns_rules.py
  zscaler_mcp/tools/zia/cloud_firewall_ips_rules.py
  zscaler_mcp/tools/zia/file_type_control_rules.py
  zscaler_mcp/tools/zia/sandbox_rules.py
  zscaler_mcp/tools/zia/shadow_it_report.py
  zscaler_mcp/tools/zia/ssl_inspection.py
Due: unittests, zia-tools, core, ZIA (Zscaler Internet Access), Core Server & Services

fix: Fixed Linter across services.py
  zscaler_mcp/services.py
Due: unittests, core, Core Server & Services

fix: add Cloud Firewall DNS/IPS, File Type Control, and Sandbox rule tools (#57)
  CHANGELOG.md
  CLAUDE.md
  GEMINI.md
  docs/guides/supported-tools.md
  docsrc/_build/.doctrees/api/tools.doctree
  docsrc/_build/.doctrees/environment.pickle
  docsrc/_build/.doctrees/guides/release-notes.doctree
  docsrc/_build/.doctrees/tools/zia/index.doctree
  docsrc/_build/_modules/zscaler_mcp/services.html
  docsrc/_build/_modules/zscaler_mcp/tools/zia/cloud_applications.html
  docsrc/_build/_sources/guides/release-notes.rst.txt
  docsrc/_build/_sources/tools/zia/index.rst.txt
  docsrc/_build/api/client.html
  docsrc/_build/api/index.html
  docsrc/_build/api/services.html
  docsrc/_build/api/tools.html
  docsrc/_build/genindex.html
  docsrc/_build/guides/release-notes.html
  docsrc/_build/objects.inv
  docsrc/_build/searchindex.js
  docsrc/_build/tools/index.html
  docsrc/_build/tools/zia/index.html
  docsrc/guides/release-notes.rst
  docsrc/tools/zia/index.rst
  integrations/kiro/steering/zia.md
  skills/zia/resolve-cloud-app-enum/SKILL.md
  tests/test_elicitation.py
  tests/test_jmespath_utils.py
  uv.lock
  zscaler_mcp/common/jmespath_utils.py
  zscaler_mcp/common/zia_cloud_app_resolver.py
  zscaler_mcp/services.py
  zscaler_mcp/tools/zia/cloud_app_control.py
  zscaler_mcp/tools/zia/cloud_applications.py
  zscaler_mcp/tools/zia/cloud_firewall_dns_rules.py
  zscaler_mcp/tools/zia/cloud_firewall_ips_rules.py
  zscaler_mcp/tools/zia/file_type_control_rules.py
  zscaler_mcp/tools/zia/sandbox_rules.py
  zscaler_mcp/tools/zia/shadow_it_report.py
  zscaler_mcp/tools/zia/ssl_inspection.py
Due: unittests, zia-tools, core, ZIA (Zscaler Internet Access), Core Server & Services

chore(release): 0.10.5
  .claude-plugin/marketplace.json
  .claude-plugin/plugin.json
  .cursor-plugin/plugin.json
  .mcp.json
  gemini-extension.json
  pyproject.toml
  server.json
  zscaler_mcp/__init__.py
Due: none

Notes added by 'git notes add'
  42f5eb9f2a6ae70f64b57abc1baaa9d4a76b86b1
Due: none

doc: Re-introduced Preview statement to README.md
  README.md
Due: none

docs: flesh out 0.11.0 release notes for PR #59
  CHANGELOG.md
  docs/guides/release-notes.md
  docsrc/guides/release-notes.rst
Due: none

fix: Fixed zpa application segment supported attributes
  CHANGELOG.md
  docs/guides/release-notes.md
  docsrc/guides/release-notes.rst
  tests/zpa/test_zpa_tools.py
  zscaler_mcp/tools/zpa/app_segments.py
Due: unittests, zpa-tools, ZPA (Zscaler Private Access)

fix: Upgraded uv.lock
  uv.lock
Due: none

fix: Fixed Ruff Linter warnings
  tests/test_docgen.py
  tests/test_entitlements.py
  tests/test_toolsets.py
  tests/test_v1_v2_converter.py
  tests/test_v2_to_sdk_converter.py
  zscaler_mcp/server.py
Due: unittests, core, Core Server & Services

chore(release): 0.11.0
  .claude-plugin/marketplace.json
  .claude-plugin/plugin.json
  .cursor-plugin/plugin.json
  .mcp.json
  gemini-extension.json
  pyproject.toml
  server.json
  zscaler_mcp/__init__.py
Due: none

Notes added by 'git notes add'
  6cf365968eb3b1e11306c973c51c1e54e98e704a
Due: none

feat: improve audit-shadow-it skill score 71% → 90%
  skills/zins/audit-shadow-it/SKILL.md
Due: none

fix: Fixed Linter and Markdownlint
  docs/deployment/amazon_bedrock_agentcore.md
  docs/guides/supported-tools.md
  zscaler_mcp/services.py
  zscaler_mcp/tools/zcc/get_otp.py
  zscaler_mcp/tools/zpa/app_segments_ba.py
  zscaler_mcp/tools/zpa/app_segments_pra.py
Due: unittests, zpa-tools, zcc-tools, core, ZPA (Zscaler Private Access), ZCC (Zscaler Client Connector), Core Server & Services

feat(zpa): add Service Edges management tools (PR #65)
  CHANGELOG.md
  CLAUDE.md
  README.md
  docs/guides/release-notes.md
  docs/guides/supported-tools.md
  docs/guides/toolsets.md
  docsrc/guides/release-notes.rst
  integrations/kiro/steering/zia.md
  pyproject.toml
  scripts/README.md
  scripts/setup-mcp-server.py
  tests/test_lifecycle.py
  tests/test_toolsets.py
  uv.lock
  zscaler_mcp/common/tool_helpers.py
  zscaler_mcp/common/toolsets.py
  zscaler_mcp/lifecycle.py
  zscaler_mcp/server.py
  zscaler_mcp/services.py
  zscaler_mcp/tools/zia/ips_signature_rules.py
  zscaler_mcp/tools/zpa/service_edges.py
Due: unittests, zia-tools, zpa-tools, core, ZIA (Zscaler Internet Access), ZPA (Zscaler Private Access), Core Server & Services

feat(http,ci): add transport hardening middleware and auto-publish to MCP Registry
  .github/workflows/release.yml
  CHANGELOG.md
  README.md
  docs/guides/release-notes.md
  docs/guides/supported-tools.md
  docs/guides/toolsets.md
  docsrc/guides/release-notes.rst
  integrations/github/README.md
  tests/test_streamable_http_transport.py
  tests/test_transport_hardening.py
  zscaler_mcp/auth.py
  zscaler_mcp/common/toolsets.py
  zscaler_mcp/server.py
  zscaler_mcp/services.py
  zscaler_mcp/tools/zia/mobile_threat_settings.py
Due: unittests, zia-tools, core, ZIA (Zscaler Internet Access), Core Server & Services

fix: Fixed Ruff Linter errors
  tests/test_lifecycle.py
Due: none

Path conditions:
  unittests: any of: zscaler_mcp/, but not: tests/**/*, local_dev/**/*, examples/**/*, docsrc/**/*, docs/**/*, integrations/**/*, **/__init__.py, **/conftest.py
  zia-tools: any of: zscaler_mcp/tools/zia/, but not: tests/**/*, local_dev/**/*, examples/**/*, docsrc/**/*, docs/**/*, integrations/**/*, **/__init__.py, **/conftest.py
  zpa-tools: any of: zscaler_mcp/tools/zpa/, but not: tests/**/*, local_dev/**/*, examples/**/*, docsrc/**/*, docs/**/*, integrations/**/*, **/__init__.py, **/conftest.py
  zcc-tools: any of: zscaler_mcp/tools/zcc/, but not: tests/**/*, local_dev/**/*, examples/**/*, docsrc/**/*, docs/**/*, integrations/**/*, **/__init__.py, **/conftest.py
  zdx-tools: any of: zscaler_mcp/tools/zdx/, but not: tests/**/*, local_dev/**/*, examples/**/*, docsrc/**/*, docs/**/*, integrations/**/*, **/__init__.py, **/conftest.py
  ztw-tools: any of: zscaler_mcp/tools/ztw/, but not: tests/**/*, local_dev/**/*, examples/**/*, docsrc/**/*, docs/**/*, integrations/**/*, **/__init__.py, **/conftest.py
  zidentity-tools: any of: zscaler_mcp/tools/zidentity/, but not: tests/**/*, local_dev/**/*, examples/**/*, docsrc/**/*, docs/**/*, integrations/**/*, **/__init__.py, **/conftest.py
  zinsights-tools: any of: zscaler_mcp/tools/zinsights/, but not: tests/**/*, local_dev/**/*, examples/**/*, docsrc/**/*, docs/**/*, integrations/**/*, **/__init__.py, **/conftest.py
  zeasm-tools: any of: zscaler_mcp/tools/easm/, but not: tests/**/*, local_dev/**/*, examples/**/*, docsrc/**/*, docs/**/*, integrations/**/*, **/__init__.py, **/conftest.py
  core: any of: zscaler_mcp/server.py, zscaler_mcp/client.py, zscaler_mcp/services.py, but not: tests/**/*, local_dev/**/*, examples/**/*, docsrc/**/*, docs/**/*, integrations/**/*, **/__init__.py, **/conftest.py
  ZIA (Zscaler Internet Access): any of: zscaler_mcp/tools/zia/**, but not: tests/**/*, local_dev/**/*, examples/**/*, docsrc/**/*, docs/**/*, integrations/**/*, **/__init__.py, **/conftest.py
  ZPA (Zscaler Private Access): any of: zscaler_mcp/tools/zpa/**, but not: tests/**/*, local_dev/**/*, examples/**/*, docsrc/**/*, docs/**/*, integrations/**/*, **/__init__.py, **/conftest.py
  ZCC (Zscaler Client Connector): any of: zscaler_mcp/tools/zcc/**, but not: tests/**/*, local_dev/**/*, examples/**/*, docsrc/**/*, docs/**/*, integrations/**/*, **/__init__.py, **/conftest.py
  ZDX (Zscaler Digital Experience): any of: zscaler_mcp/tools/zdx/**, but not: tests/**/*, local_dev/**/*, examples/**/*, docsrc/**/*, docs/**/*, integrations/**/*, **/__init__.py, **/conftest.py
  ZTW (Zscaler Workload Segmentation): any of: zscaler_mcp/tools/ztw/**, but not: tests/**/*, local_dev/**/*, examples/**/*, docsrc/**/*, docs/**/*, integrations/**/*, **/__init__.py, **/conftest.py
  ZIdentity (Identity Management): any of: zscaler_mcp/tools/zidentity/**, but not: tests/**/*, local_dev/**/*, examples/**/*, docsrc/**/*, docs/**/*, integrations/**/*, **/__init__.py, **/conftest.py
  Z-Insights (Analytics): any of: zscaler_mcp/tools/zinsights/**, but not: tests/**/*, local_dev/**/*, examples/**/*, docsrc/**/*, docs/**/*, integrations/**/*, **/__init__.py, **/conftest.py
  ZEASM (External Attack Surface Management): any of: zscaler_mcp/tools/easm/**, but not: tests/**/*, local_dev/**/*, examples/**/*, docsrc/**/*, docs/**/*, integrations/**/*, **/__init__.py, **/conftest.py
  Core Server & Services: any of: zscaler_mcp/server.py, zscaler_mcp/client.py, zscaler_mcp/services.py, zscaler_mcp/common/**, but not: tests/**/*, local_dev/**/*, examples/**/*, docsrc/**/*, docs/**/*, integrations/**/*, **/__init__.py, **/conftest.py
